*.iml
.gradle
/local.properties
Code/.idea
Code/.idea/caches
Code/.idea/libraries
Code/.idea/modules.xml
Code/.idea/workspace.xml
Code/.idea/navEditor.xml
Code/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
